body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #2c3e50;
}
